<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/up/mybatis/UPMapper.xml">

	<select id="newpdtview" resultType="pDTO" parameterType="String">
		SELECT * FROM new_pro_view
	</select>
	
	<select id="bestpdtview" resultType="pDTO" parameterType="String">
		SELECT * FROM best_pro_view
	</select>
	
	<select id="memidchk" resultType="mDTO">
		SELECT * FROM member WHERE mid = #{mid}
	</select>	
	
	<select id="memlogin" resultType="mDTO">
		SELECT mid, mpw FROM member WHERE mid = #{mid} AND mpw = #{mpw}
	</select>
	
	<select id="sessionlogin" resultType="mDTO">
		SELECT * FROM member WHERE mid = #{mid} AND mpw = #{mpw}
	</select>
	
	<insert id="meminsert" parameterType="mDTO">
		INSERT INTO member(mid, mpw, mname, msex, mbirth, mphone, mpostcode, madd, memail) 
		VALUES (#{mid}, #{mpw}, #{mname}, #{msex}, #{mbirth}, #{mphone}, #{mpostcode}, #{madd}, #{memail})
	</insert>
	
	<select id="boardListAll" resultType="bDTO">
		SELECT * FROM tblboard
		ORDER BY bno DESC
	</select>
	
	<insert id="boardstore" parameterType="bDTO">
		INSERT INTO tblboard(bno, title, category, content, writer) 
		VALUES (seq_tblboard_bno.nextval, #{title}, #{category}, #{content}, #{writer})
	</insert>
	
	<select id="boarddetailview" resultType="npDTO" parameterType="Integer">
		<!-- SELECT * FROM tblboard
		WHERE bno = #{bno} -->
		SELECT * FROM (
			SELECT
				bno, 
				title, 
				category,
				content,				
				writer, 
				hits,
				goodcnt,
				regdate, 
				LEAD(bno, 1 ) OVER (ORDER BY bno DESC) AS next_article_bno, 
				LEAD(TITLE, 1 , '다음글 없음') OVER (ORDER BY bno DESC) AS next_title, 
				LEAD(writer, 1 , '') OVER (ORDER BY bno DESC) AS next_writer, 
				LEAD(regdate, 1 , '') OVER (ORDER BY bno DESC) AS next_regdate, 
				LAG(bno, 1) OVER (ORDER BY bno DESC ) AS  pre_article_bno, 
				LAG(TITLE, 1 , '이전글 없음') OVER (ORDER BY bno DESC ) pre_title, 
				LAG(writer, 1) OVER (ORDER BY bno DESC ) AS  pre_writer, 
				LAG(regdate, 1) OVER (ORDER BY bno DESC ) AS pre_regdate
			FROM tblboard) 
		WHERE bno=#{bno}
	</select>
	
	<update id="boardupdate" parameterType="bDTO">
		UPDATE tblboard SET
		title = #{title}, content = #{content}
		WHERE bno = #{bno}
	</update>
	
	<update id="boardhitsupdate" parameterType="Integer">
		UPDATE tblboard SET
		hits = hits + 1
		WHERE bno = #{bno}
	</update>
	
	<delete id="boarddelete" parameterType="Integer">
		DELETE FROM tblboard
		WHERE bno = #{bno}
	</delete>
	
	<delete id="boardReplyDelete2" parameterType="Integer">
		DELETE FROM boardreply
		WHERE bno = #{bno}
	</delete>
	
	<select id="countPaging" resultType="int">
		<!-- 부등호나 느낌표가 들어갈때에는 CDATA를 써줘야함(태그가 아님을 명시) -->
		<![CDATA[
			SELECT count(bno) FROM tblboard
			WHERE bno > 0
		]]>		
	</select>
	
	<select id="searchCountPaging" resultType="int">
		<!-- 부등호나 느낌표가 들어갈때에는 CDATA를 써줘야함(태그가 아님을 명시) -->
		SELECT count(bno) FROM tblboard
		<choose>
			<when test="category.equals('전체')">
				<choose>					
					<when test="searchOption.equals('제목')">
						<![CDATA[
							WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%'
						]]>
					</when>						
					<when test="searchOption.equals('작성자')">
						<![CDATA[
							WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%'
						]]>
					</when>
					<when test="searchOption.equals('내용')">
						<![CDATA[
							WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%'
						]]>
					</when>
					<when test="searchOption.equals('제목+내용')">
						<![CDATA[
							WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%'
						]]>
					</when>
				</choose>
			</when>
			<otherwise>
				<choose>					
					<when test="searchOption.equals('제목')">
						<![CDATA[
							WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' AND category = #{category}
						]]>
					</when>						
					<when test="searchOption.equals('작성자')">
						<![CDATA[
							WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%' AND category = #{category}
						]]>
					</when>
					<when test="searchOption.equals('내용')">
						<![CDATA[
							WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%' AND category = #{category}
						]]>
					</when>
					<when test="searchOption.equals('제목+내용')">
						<![CDATA[
							WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' AND category = #{category}
						]]>
					</when>
				</choose>
			</otherwise>	
		</choose>			
	</select>
	 
	<select id="categoryCountPaging" resultType="int" parameterType="cDTO">
		SELECT count(bno) FROM tblboard
		<choose>
			<when test="category.equals('전체')">
			</when>
			<otherwise>
				WHERE category = #{category}
			</otherwise>			
		</choose>		
	</select>
	
	<select id="listCriteria" resultType="bDTO">
		<![CDATA[
			SELECT * FROM (
				SELECT rownum rnum, a.*
				FROM (
					SELECT b.*, (SELECT COUNT(*)
									 	 FROM boardreply d
										 WHERE b.bno = d.bno) replycnt
					FROM tblboard b
					WHERE bno > 0
					ORDER BY bno desc
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	<insert id="boardReplyStore" parameterType="rDTO">
		INSERT INTO boardreply(rno, bno, sessionuser, replycomment)
		VALUES (seq_boardreply_rno.nextval, #{bno}, #{sessionUser}, #{replyComment})
	</insert>
	
	<select id="boardReplyView" resultType="rDTO" parameterType="Integer">
		SELECT * FROM boardreply
		WHERE bno = #{bno}
		ORDER BY rno DESC
	</select>
	
	<delete id="boardReplyDelete" parameterType="Integer">
		DELETE FROM boardreply
		WHERE rno = #{rno}
	</delete>
	
	<select id="boardSearch" resultType="bDTO" parameterType="cDTO">		
			SELECT * FROM (
				SELECT rownum rnum, a.*
				FROM (
					SELECT b.*, (SELECT COUNT(*)
									 	 FROM boardreply d
										 WHERE b.bno = d.bno) replycnt
					FROM tblboard b
					<choose>
						<when test="category.equals('전체')">
							<choose>					
								<when test="searchOption.equals('제목')">
									<![CDATA[
										WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%'
									]]>
								</when>						
								<when test="searchOption.equals('작성자')">
									<![CDATA[
										WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%'
									]]>
								</when>
								<when test="searchOption.equals('내용')">
									<![CDATA[
										WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%'
									]]>
								</when>
								<when test="searchOption.equals('제목+내용')">
									<![CDATA[
										WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%'
									]]>
								</when>
							</choose>
						</when>
						<otherwise>
							<choose>					
								<when test="searchOption.equals('제목')">
									<![CDATA[
										WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' AND category = #{category}
									]]>
								</when>						
								<when test="searchOption.equals('작성자')">
									<![CDATA[
										WHERE bno > 0 AND writer LIKE '%'||#{keyword}||'%' AND category = #{category}
									]]>
								</when>
								<when test="searchOption.equals('내용')">
									<![CDATA[
										WHERE bno > 0 AND content LIKE '%'||#{keyword}||'%' AND category = #{category}
									]]>
								</when>
								<when test="searchOption.equals('제목+내용')">
									<![CDATA[
										WHERE bno > 0 AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' AND category = #{category}
									]]>
								</when>
							</choose>
						</otherwise>						
					</choose>					
					ORDER BY bno desc
				) a
			)
		WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}		
	</select>
	
	<select id="boardCategoryView" resultType="bDTO" parameterType="cDTO">
		SELECT * FROM (
				SELECT rownum rnum, a.*
				FROM (
					SELECT b.*, (SELECT COUNT(*)
									 	 FROM boardreply d
										 WHERE b.bno = d.bno) replycnt
					FROM tblboard b
					<choose>					
						<when test="category.equals('전체')">
						</when>
						<otherwise>
							WHERE category = #{category}
						</otherwise>
					</choose>
					ORDER BY bno desc
				) a
			)
		WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
	</select>
	
	<update id="boardReplyUpdate" parameterType="rDTO">
		UPDATE boardreply SET 
		replycomment = #{replyComment} 
		WHERE rno = #{rno}
	</update>
	
	<insert id="boardRecommentStore" parameterType = "rcDTO">
		INSERT INTO boardrecomment(rcno, bno, rno, sessionuser, recomment)
		VALUES (seq_boardrecomment_rcno.nextval, #{bno}, #{rno}, #{sessionUser}, #{recomment})
	</insert>
	
	<select id="boardRecommentView" resultType="rcDTO">
		SELECT * FROM boardrecomment
		WHERE bno = #{bno}
		ORDER BY rcno DESC
	</select>
	
</mapper>