<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/up/mybatis/UPMapper.xml">

	<select id="newpdtview" resultType="pDTO"
		parameterType="String">
		SELECT * FROM new_pro_view
	</select>
	
	<select id="bestpdtview" resultType="pDTO"
		parameterType="String">
		SELECT * FROM best_pro_view
	</select>
	
	<select id="memidchk" resultType="mDTO">
		SELECT * FROM member WHERE mid = #{mid}
	</select>	
	
	<select id="memlogin" resultType="mDTO">
		SELECT mid, mpw FROM member WHERE mid = #{mid} AND mpw = #{mpw}
	</select>
	
	<select id="sessionlogin" resultType="mDTO">
		SELECT * FROM member WHERE mid = #{mid} AND mpw = #{mpw}
	</select>
	
	<insert id="meminsert" parameterType="mDTO">
		INSERT INTO member(mid, mpw, mname, msex, mbirth, mphone, mpostcode, madd, memail) 
		VALUES (#{mid}, #{mpw}, #{mname}, #{msex}, #{mbirth}, #{mphone}, #{mpostcode}, #{madd}, #{memail})
	</insert>
	
	<select id="boardListAll" resultType="bDTO">
		SELECT * FROM tblboard
		ORDER BY bno DESC
	</select>
	
	<insert id="boardstore" parameterType="bDTO">
		INSERT INTO tblboard(bno, title, content, writer) VALUES (seq_tblboard_bno.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="boarddetailview" resultType="bDTO" parameterType="Integer">
		SELECT * FROM tblboard
		WHERE bno = #{bno}
	</select>
	
	<update id="boardupdate" parameterType="bDTO">
		UPDATE tblboard SET
		title = #{title}, content = #{content}
		WHERE bno = #{bno}
	</update>
	
	<update id="boardhitsupdate" parameterType="bDTO">
		UPDATE tblboard SET
		hits = #{hits}
		WHERE bno = #{bno}
	</update>
	
	<delete id="boarddelete" parameterType="Integer">
		DELETE FROM tblboard
		WHERE bno = #{bno}
	</delete>
	
	<select id="countPaging" resultType="int">
		<!-- 부등호나 느낌표가 들어갈때에는 CDATA를 써줘야함(태그가 아님을 명시) -->
		<![CDATA[
			SELECT count(bno) FROM tblboard
			WHERE bno > 0
		]]>		
	</select>
	
	<select id="listCriteria" resultType="bDTO">
		<![CDATA[
			SELECT * 
			FROM (
				SELECT rownum rnum,
				a.*
				FROM (
					SELECT *
					FROM tblboard
					WHERE bno > 0
					ORDER BY bno desc
				) a
			)
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>

</mapper>